<div id="operatingSystem-component">
    <div id="operatingSystem-content-inner">
        <div id="operatingSystem-header">
            <div id="operatingSystem-header-left">
                <h4 id="operatingSystem-heading">Operating Systems</h4>
            </div>
            <div id="operatingSystem-header-right">
                <div id="operatingSystem-header-right-inner">
                    <div id="refresh-div">
                        <i class="fa-solid fa-rotate-right fa-rotate-270"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="operatingSystem-container">
            <div id="status-container-inner">
                <p-chart type="pie" [data]="data" class="h-[30rem]" [options]="operating_options"/>
            </div>
        </div>
    </div>
</div>