#operatingSystem-component{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0.2px rgba(0, 0, 0, 0.2);
}

#operatingSystem-content-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#operatingSystem-header{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
}

#operatingSystem-header-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#operatingSystem-header-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#operatingSystem-header-right-inner{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#refresh-div{
    height: 27px;
    width: 27px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

#operatingSystem-container{
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep #operatingSystem-container canvas{
    width: 100% !important;
    height: 400px !important;
}

#operatingSystem-container-inner{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:430px){
    ::ng-deep #operatingSystem-container canvas{
   height: auto !important;
}
}
