<div id="priority-component" [ngStyle]="other_header?{'padding':'0px 5px 5px 5px','box-shadow':'none'}:{'padding':'10px'}">
    <div id="priority-content-inner">
        <!-- Priority header -->
        <div id="priority-header" [ngStyle]="other_header">
            <div id="priority-header-left">
                <h4 id="priority-heading" [ngStyle]="font">Priority</h4>
            </div>
            <div id="priority-header-right">
                <div id="priority-header-right-inner">
                    <div id="refresh-div" [ngStyle]="font?{'width':'20px','height':'20px'}:{'width':'27px','height':'27px'}" (click)="ngOnInit()" pTooltip="Refresh" tooltipPosition="bottom">
                        <i  [ngStyle]="font" class="fa-solid fa-rotate-right fa-rotate-270"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Priority Graph -->
        <div id="priority-container">
            <div id="priority-container-inner">
                 <google-chart *ngIf="pieChart?.dataTable?.length" [data]="pieChart" #gc></google-chart>
                <!-- <p-chart type="bar" [data]="data" class="h-[30rem]" [options]="priority_options" /> -->
            </div>
        </div>
    </div>
</div>