<div id="type-component">
    <div id="type-content-inner">
        <div id="type-header">
            <div id="type-header-left">
                <h4 id="type-heading">Types</h4>
            </div>
            <div id="type-header-right">
                <div id="type-header-right-inner">
                    <div id="refresh-div">
                        <i class="fa-solid fa-rotate-right fa-rotate-270"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="type-container">
            <div id="type-container-inner">
                <p-chart type="pie" [data]="data" class="h-[30rem]" />
            </div>
        </div>
    </div>
</div>