<div id="dashboard-content">
    <div id="content">
        <!-- Issues header -->
        <div id="dashboard-header" style="height: 6%;">
            <div id="header-div">
                <button [ngStyle]="home?{'border-bottom':'2px solid blue','color':'blue'}:{'border':'none'}"
                    (click)="home_clicked()">Home</button>
                <button [ngStyle]="custom?{'border-bottom':'2px solid blue','color':'blue'}:{'border':'none'}"
                    (click)="custom_clicked()">Custom</button>
            </div>
        </div>

        <!-- Issues children components division -->
        <div style="height: 94%;">
            <router-outlet />
        </div>
    </div>
</div>