<div id="dashboard-component">
    <div id="dashboard-content">

        <div id="first-div">
            <!-- Graph Component -->
            <div id="line-graph1">
                <app-graph></app-graph>
            </div>
            <!-- Broswer Component -->
            <div id="line-graph6">
                <app-browser></app-browser>
            </div>
        </div>

        <div id="second-div">
            <!-- Priority Component -->
            <div id="line-graph2">
                <app-priority></app-priority>
            </div>
            <!-- Status Component -->
            <div id="line-graph3">
                <app-status></app-status>
            </div>
        </div>

        <div id="third-div">
            <!-- Category Component -->
            <div id="line-graph4">
                <app-category></app-category>
            </div>
        </div>

        <div id="fourth-div">
            <!-- Type Component -->
            <div id="line-graph5">
                <app-type></app-type>
            </div>
            <!-- Operating System Component -->
            <div id="line-graph7">
                <app-operating-system></app-operating-system>
            </div>
        </div>
    </div>
</div>