<p>dialog works!</p>
<div class="card flex justify-center">
    <p-dialog header="User Details" [modal]="true" [(visible)]="visible" (onHide)="onHide()" [style]="{ width: '25rem' }">
        <div id="dialog-inner">
            <div class="top-dialog-div">
                <div class="top-dialog-header">
                    <div class="top-header">
                        <span class="heading">Basic Details</span>
                    </div>
                    <div id="icon-div">
                        <i id="icon" class="fa-solid fa-minus"></i>
                    </div>
                </div>
                <div class="top-dialog-form">
                    <form class="form" #topForm="ngForm">
                        <div class="input-div">
                        <label class="label">User Name *</label>
                        <input type="text" [value]="prefill? prefill_user.uname:''" name="uname" ngModel [ngClass]="topForm?.controls['uname']?.value?'input-value':'input'"/>
                        </div>

                        <div class="input-div">
                        <label class="label">First Name *</label>
                        <input [ngClass]="topForm?.controls['fname']?.value?'input-value':'input'" [value]="prefill? prefill_user.fname:''" type="text" name="fname" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Middle Name *</label>
                        <input [ngClass]="topForm?.controls['mname']?.value?'input-value':'input'" [value]="prefill? prefill_user.mname:''" type="text" name="mname" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Name *</label>
                        <input [ngClass]="topForm?.controls['lname']?.value?'input-value':'input'" type="text" name="lname" [value]="prefill? prefill_user.lname:''" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Created Source</label>
                        <input [ngClass]="topForm?.controls['created_source']?.value?'input-value':'input'" [value]="prefill? prefill_user.created_source:''" type="text" name="created_source" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Created Source Type</label>
                        <div class="radios">
                            <input type="radio" id="html" name="fav_language" value="User" name="created_source_type" [(ngModel)]="prefill_user.created_source_type">
                            <label for="html">User</label><br>
                            <input type="radio" id="css" name="fav_language" value="Admin" name="created_source_type" [(ngModel)]="prefill_user.created_source_type">
                            <label for="css">Admin</label><br>
                        </div>
                        </div>

                        <div class="input-div">
                        <label class="label">Created Date time</label>
                        <input [ngClass]="topForm?.controls['created_datetime']?.value?'input-value':'input'" [value]="prefill? prefill_user.created_datetime:''" type="datetime-local" name="created_datetime" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Company Code</label>
                        <input [ngClass]="topForm?.controls['company_code']?.value?'input-value':'input'" [value]="prefill? prefill_user.company_code:''" type="text" name="company_code" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Type</label>
                        <div class="radios">
                            <input type="radio" id="html" name="fav_language" value="User" name="type" [(ngModel)]="prefill_user.type">
                            <label for="html">User</label><br>
                            <input type="radio" id="css" name="fav_language" value="Admin" name="type" [(ngModel)]="prefill_user.type">
                            <label for="css">Admin</label><br>
                        </div>
                        </div>

                        <div class="input-div">
                        <label class="label">User ID</label>
                        <input [ngClass]="topForm?.controls['user_id']?.value?'input-value':'input'" [value]="prefill? prefill_user.user_id:''" type="text" name="user_id" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Email ID</label>
                        <input [ngClass]="topForm?.controls['email_id']?.value?'input-value':'input'" [value]="prefill? prefill_user.email_id:''" type="email" name="email_id" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Phone Number</label>
                        <input [ngClass]="topForm?.controls['phone']?.value?'input-value':'input'" [value]="prefill? prefill_user.phone:''" type="text" name="phone" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Modified Source</label>
                        <input [ngClass]="topForm?.controls['last_modified_source']?.value?'input-value':'input'" [value]="prefill? prefill_user.last_modified_source:''" type="text" name="last_modified_source" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Modified Source Type</label>
                        <div class="radios">
                            <input type="radio" id="html" name="fav_language" value="User" name="last_modified_source_type" [(ngModel)]="prefill_user.last_modified_source_type">
                            <label for="html">User</label><br>
                            <input type="radio" id="css" name="fav_language"  value="Admin" name="last_modified_source_type" [(ngModel)]="prefill_user.last_modified_source_type">
                            <label for="css">Admin</label><br>
                        </div>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Modified Date Time</label>
                        <input [ngClass]="topForm?.controls['last_modified_datetime']?.value?'input-value':'input'" [value]="prefill? prefill_user.last_modified_datetime:''" type="datetime-local" name="last_modified_datetime" ngModel/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="top-dialog-div">
                <div class="top-dialog-header">
                    <div class="top-header">
                        <span class="heading">Address Details</span>
                    </div>
                </div>
                <div class="top-dialog-form">
                    <form class="form"  id="bottom-form" #bottomForm="ngForm">
                        <div class="input-div">
                        <label class="label">Address</label>
                        <input [ngClass]="bottomForm?.controls['address']?.touched?'input':'input-value'" [value]="prefill? prefill_user.address:''" type="text" name="address" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Country</label>
                        <input [ngClass]="bottomForm?.controls['country']?.value?'input-value':'input'" [value]="prefill? prefill_user.country:''" type="text" name="country" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">State</label>
                        <input [ngClass]="bottomForm?.controls['state']?.value?'input-value':'input'" [value]="prefill? prefill_user.state:''" type="text" name="state" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">City</label>
                        <input [ngClass]="bottomForm?.controls['city']?.value?'input-value':'input'" [value]="prefill? prefill_user.city:''" type="text" name="city" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Postal Code</label>
                        <input [ngClass]="bottomForm?.controls['postal_code']?.value?'input-value':'input'" [value]="prefill? prefill_user.postal_code:''"  type="text" name="postal_code" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Locale</label>
                        <input [ngClass]="bottomForm?.controls['locale']?.value?'input-value':'input'" [value]="prefill? prefill_user.locale:''" type="text" name="locale" ngModel/>
                        </div>

                        <div class="input-div">
                        <label class="label">Time zone</label>
                        <input [ngClass]="bottomForm?.controls['time_zone']?.value?'input-value':'input'" [value]="prefill? prefill_user.time_zone:''" type="text" name="time_zone" ngModel/>
                        </div>
                    </form>
                </div>
            </div>
            <div id="dialog-footer">
                <div id="btn-container">
                    <button id="submit" (click)="form_submit(topForm,bottomForm)">submit</button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
