<div class="card flex justify-center" id="dialog_component">
    <p-dialog header="User Details" [modal]="true" [(visible)]="visible" (onHide)="onHide()" [style]="{ width: '25rem' }">
        <div id="dialog-inner">
            <div class="top-dialog-div">
                <div class="top-dialog-header">
                    <div class="top-header">
                        <span class="heading">Basic Details</span>
                    </div>
                    <!-- <div id="icon-div">
                        <i id="icon" class="fa-solid fa-minus"></i>
                    </div> -->
                </div>
                <div class="top-dialog-form">
                    <div id="profile_pic">
                        <div id="profile_pic_content">
                            <div id="profile-pic-top" [ngStyle]="{height:profile_pic_input?'100%':'70%'}">
                                <div id="profile-pic-div" [ngStyle]="{height:profile_pic_input?'70%':'90%'}">
                                    <img *ngIf="!profile_pic_input" id="profile" src="../../../../assets/images/profile_avatar.jpg"/>
                                    <div id="profile_pic_image_div" *ngIf="profile_pic_input">
                                        <img id="profile_pic_image" [src]="profile_pic_input" alt="selected image"/>
                                    </div>
                                </div>
                                <input type="file" id="fileInput" style="display: none;" (change)="profile_pic_selected($event)" accept=".jpg,.png"/>
                                <label  *ngIf="(editable || !prefill) && !profile_pic_input" for="fileInput" id="plus">
                                <div>
                                    <i style="color: white; font-size: 20px;" class="fa-solid fa-plus"></i>
                                </div>
                                </label>
                            </div>
                            <div  *ngIf="!profile_pic_input" id="profile-pic-bottom">
                                <p id="profile_condition1">Max file size 2MB</p>
                                <p id="profile_condition2">Supporting formats JPG, PNG</p>
                            </div>
                        </div>
                    </div>
                    <form class="form" #topForm="ngForm">
                        <div class="input-div">
                        <label class="label">User Name *</label>
                        <input type="text"  name="uname" [(ngModel)]="user_uname" [ngStyle]="{border: topForm?.controls['uname']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['uname']?.value && !editable && prefill?'none': 
                        topForm?.controls['uname']?.value && !prefill?'none':'1px solid lightgray'}" (change)="create_user_password($event)" [readOnly]="!editable && prefill" required/>
                        </div >

                        <div class="input-div">
                        <label class="label">First Name *</label>
                        <input [ngStyle]="{border: topForm?.controls['fname']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['fname']?.value && !editable && prefill?'none': 
                        topForm?.controls['fname']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="fname" [(ngModel)]="user_fname" [readOnly]="!editable  && prefill" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Middle Name *</label>
                        <input [ngStyle]="{border: topForm?.controls['mname']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['mname']?.value && !editable && prefill?'none': 
                        topForm?.controls['mname']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="mname" [(ngModel)]="user_mname" [readOnly]="!editable  && prefill" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Name *</label>
                        <input [ngStyle]="{border: topForm?.controls['lname']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['lname']?.value && !editable && prefill?'none': 
                        topForm?.controls['lname']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="lname" [(ngModel)]="user_lname" [readOnly]="!editable  && prefill" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Created Source</label>
                        <input class="input-value" type="text" name="created_source" [(ngModel)]="user_details.uname" readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Created Source Type</label>
                        <input class="input-value" name="created_source_type" [(ngModel)]="user_details.type" readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Created Date time</label>
                        <input class="input-value"  type="text" name="created_datetime" [(ngModel)]="today" readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Company Code *</label>
                        <input [ngStyle]="{border: topForm?.controls['company_code']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['company_code']?.value && !editable && prefill?'none': 
                        topForm?.controls['company_code']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="company_code" [(ngModel)]="user_company_code" [readOnly]="!editable  && prefill" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Type *</label>
                        <input *ngIf="!editable && prefill" class="input-value" name="type" [(ngModel)]="user_type" readonly/>
                        <div *ngIf="editable || !prefill" class="radios">
                            <label for="html"><input type="radio" id="html" value="User" name="type" [(ngModel)]="user_type" [readOnly]="!editable  && prefill">  User</label><br>
                            <label for="css"><input type="radio" id="css" value="Admin" name="type" [(ngModel)]="user_type" [readOnly]="!editable  && prefill">  Admin</label><br>
                        </div>
                        </div>

                        <div class="input-div">
                        <label class="label">User ID</label>
                        <input class="input-value" type="text" name="user_id" [(ngModel)]="user_user_id" readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Email ID *</label>
                        <input [ngStyle]="{border: topForm?.controls['email_id']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['email_id']?.value && !editable && prefill?'none': 
                        topForm?.controls['email_id']?.value && !prefill?'none':'1px solid lightgray'}" class="input" type="email" name="email_id" [(ngModel)]="user_email_id" [readOnly]="!editable  && prefill" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Phone Number *</label>
                        <input [ngStyle]="{border: topForm?.controls['phone']?.value && editable && prefill?'1px solid lightgray':
                        topForm?.controls['phone']?.value && !editable && prefill?'none': 
                        topForm?.controls['phone']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="phone" [(ngModel)]="user_phone" [readOnly]="!editable  && prefill" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Modified Source</label>
                        <input class="input-value" type="text" name="last_modified_source" [(ngModel)]="last_modified.uname" readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Modified Source Type</label>
                        <input class="input-value" name="last_modified_source_type" [(ngModel)]="last_modified.type" readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Last Modified Date Time</label>
                        <input class="input-value" type="text" name="last_modified_datetime" [(ngModel)]="today"  readonly/>
                        </div>

                        <div class="input-div">
                        <label class="label">Password</label>
                        <input class="input-value" type="text" name="password" [(ngModel)]="user_password" readonly/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="top-dialog-div">
                <div class="top-dialog-header">
                    <div class="top-header">
                        <span class="heading">Address Details</span>
                    </div>
                </div>
                <div class="top-dialog-form">
                    <form class="form"  id="bottom-form" #bottomForm="ngForm">
                        <div class="input-div">
                        <label class="label">Address *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['address']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['address']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['address']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="address" [(ngModel)]="user_address" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Country *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['country']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['country']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['country']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="country" [(ngModel)]="user_country" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">State *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['state']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['state']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['state']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="state" [(ngModel)]="user_state" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">City *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['city']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['city']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['city']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="city" [(ngModel)]="user_city" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Postal Code *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['postal_code']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['postal_code']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['postal_code']?.value && !prefill?'none':'1px solid lightgray'}"  type="text" name="postal_code" [(ngModel)]="user_postal_code" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Locale *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['locale']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['locale']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['locale']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="locale" [(ngModel)]="user_locale" required/>
                        </div>

                        <div class="input-div">
                        <label class="label">Time zone *</label>
                        <input [ngStyle]="{border: bottomForm?.controls['time_zone']?.value && editable && prefill?'1px solid lightgray':
                        bottomForm?.controls['time_zone']?.value && !editable && prefill?'none': 
                        bottomForm?.controls['time_zone']?.value && !prefill?'none':'1px solid lightgray'}" type="text" name="time_zone" [(ngModel)]="user_time_zone" required/>
                        </div>
                    </form>
                </div>
            </div>
            <div id="dialog-footer">
                <div id="btn-container">
                    <button *ngIf=" !prefill" class="submit" (click)="reset_fields()">Cancel</button>
                    <button class="submit" *ngIf="prefill" (click)="close_form()">{{editable?"Cancel":"Close"}}</button>
                    <button *ngIf="!editable &&prefill" class="submit" (click)="edit_form()">Edit</button>
                    <button *ngIf="editable || !prefill" class="submit" (click)="form_submit(topForm,bottomForm)">Submit</button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
