<div id="login-container">
    <div id="inner-login-div">
        <div id="welcome-div">
            <h2>ORG Issue Tracker</h2>
            <span>Enter your credentials to access your account</span>
        </div>
        <!-- Login page form -->
        <div id="form-div">
            <form #form="ngForm" (ngSubmit)="form_submit(form)">
                <div class="input-div">
                    <label style="font-weight: bold;">User ID</label>
                    <input #userIdRef="ngModel" pInputText type="text" name="userId" [(ngModel)]="user_Id" required />
                    <p *ngIf="(userIdRef.invalid && userIdRef.touched) || (userIdRef.invalid && all_fields_invalid)"
                        style="color: red;">*required</p>
                </div>

                <div class="input-div">
                    <label style="font-weight: bold;">Password</label>
                    <p-password #pass="ngModel" class="p-passwords" name="Password" [toggleMask]="true"
                        [feedback]='forgot?true:false' [(ngModel)]="password" required>
                    </p-password>
                    <p *ngIf="(pass.invalid && pass.touched)||(pass.invalid && all_fields_invalid)" style="color: red;">
                        *required</p>
                </div>

                <div class="input-div">
                    <ng-container *ngIf="forgot">
                        <label style="font-weight: bold;">Confirm Password</label>
                        <p-password #confirm="ngModel" class="p-passwords" name="confirmPassword" [toggleMask]="true"
                            [feedback]="false" [(ngModel)]="confirmPassword" required>
                        </p-password>
                        <p *ngIf="!(confirmPassword==password)&&confirmPassword" style="color: red;">Please enter the
                            same password</p>
                        <p *ngIf="(confirm.invalid && confirm.touched) || (confirm.invalid && all_fields_invalid)"
                            style="color: red;">*required</p>
                    </ng-container>
                </div>

                <div class="input-div">
                    <p-button [label]='forgot?"Reset Password":"Login"' type="submit"></p-button>
                    <div id="forgot">
                        <button id="forgot-btn" type="button" (click)="forgot_password()">{{forgot?"Back to
                            login":"Forgot Password?"}}</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Login page form ends -->
    </div>
</div>
<p-toast />