<div id="type-component">
    <div id="type-content-inner">
        <!-- Type Header -->
        <div id="type-header" [ngStyle]="other_header">
            <div id="type-header-left">
                <h4 id="type-heading" [ngStyle]="font">Types</h4>
            </div>
            <div id="type-header-right">
                <div id="type-header-right-inner">
                    <div id="refresh-div" [ngStyle]="font?{'width':'20px','height':'20px'}:{'width':'27px','height':'27px'}" (click)="ngOnInit()" pTooltip="Refresh" tooltipPosition="bottom">
                        <i [ngStyle]="font" class="fa-solid fa-rotate-right fa-rotate-270"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Type Graph -->
        <div id="type-container">
            <div id="type-container-inner">
                <google-chart *ngIf="pieChart?.dataTable?.length" [data]="pieChart" #gc></google-chart>
            </div>
        </div>
    </div>
</div>