<div id="user-content">
    <div id="header">
        <div class="heading">
            <h2 style="width: 100px;">Users</h2>
        </div>
        <div class="header-last">
            <div id="header-last-inner">
                <div>
                    <p-dropdown *ngIf="products.length>0" id="top" [options]="numbers" [(ngModel)]="dynamic_page_number"
                        optionLabel="name" [placeholder]="'Show '+selectedNum" (onChange)="dynamic_rows($event)" />
                </div>
                <div>
                    <p-multiSelect [options]="columns" [(ngModel)]="selectedCol" optionLabel="header"
                        [placeholder]="len+' columns are selected'" (onChange)="get_selected_columns($event)" #multi>
                        <ng-template pTemplate="footer">
                            <div id="multi-btn-con">
                                <button id="multiselect-btn" (click)="dynamic_columns()">Apply</button>
                            </div>
                        </ng-template>
                    </p-multiSelect>

                </div>
                <div id="filter-div">
                    <button id="filter" (click)="filter_display()" pTooltip="Filter Users" tooltipPosition="bottom"><i class="fa-solid fa-filter"></i> Filter</button>
                </div>
                <div>
                    <button id="add-btn" [ngStyle]="user_details?.type!='Admin'?{'display':'none'}:{'display':'flex'}"
                        (click)="dialog_display()" pTooltip="Add User" tooltipPosition="bottom">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div id="p-table-div">
            <div id="table-with-footer">
                <p-table #dt [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem', }"
                    styleClass="p-datatable-sm" [paginator]="this.products.length>dynamic_page_number.value"
                    [rows]="dynamic_page_number.value" [pageLinks]="3">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumnDisabled]="false"
                                [pSortableColumn]="col.field">
                                {{ col.header }} <p-sortIcon [field]="col.field" />
                            </th>
                            <th *ngIf="user_details.type!='User'">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr (click)="open_form(rowData['id'])">
                            <td *ngFor="let col of columns" [innerHTML]="rowData[col.field] ">
                            </td>
                            <td *ngIf="user_details.type!='User'">
                                <div class="icons">
                                    <!-- <i class="fa-solid fa-pen-to-square" (click)="open_form(rowData['id'])"></i> -->
                                    <i style="cursor: pointer;" class="fa-solid fa-trash" (click)="delete_the_user(rowData['id'])" pTooltip="Delete User" tooltipPosition="bottom"></i>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length + 1" class="p-text-center" style=" text-align: center;
  padding: 20px;
  color: gray;
  font-size: 15px;">
                                No data found.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="this.products.length>dynamic_page_number.value" class="paginator-extension"
                style="display: flex;gap: 5px; flex-direction: row;">
                <input
                    style="width: 40px; background-color: rgba(211, 211, 211, 0.3); z-index: 1; margin-top:3px; height: 28px;text-align: center;"
                    type="text" [(ngModel)]="goToPageNumber" min="1" [max]="totalPages" />
                <button (click)="goToPage(dt)" class="go-button">Go</button>
            </div>
        </div>
        <ng-template [ngIf]="filter_flag">
            <div id="filter-div1">
                <div style="margin-bottom: 30px;border: 1px solid lightgray; border-radius: 5px;">
                <div id="filter-header">
                    <div id="filter_head">
                        <h4>Filter</h4>
                    </div>
                    <div id="cross-div">
                        <i class="fa-solid fa-xmark" (click)="close_filter()"></i>
                    </div>
                </div>
                <div id="filter-form">
                    <form id="form" #form="ngForm">
                        <input pInputText placeholder="User Name" name="uname" [(ngModel)]="filter_user_name" />
                        <p-dropdown id="bottom" [options]="user_types" name="type" [(ngModel)]="user_type"
                            optionLabel="name" placeholder="User Type" />
                        <input pInputText placeholder="Email ID" name="email_id" [(ngModel)]="filter_user_email_id" />
                        <input pInputText placeholder="Created Source" name="created_source"
                            [(ngModel)]="filter_user_created_source" />
                        <input pInputText placeholder="Created Source Type" name="created_source_type"
                            [(ngModel)]="filter_user_created_source_type" />
                        <input type="datetime-local" placeholder="Created Date Time" name="created_datetime"
                            [(ngModel)]="filter_user_datetime" />
                        <input pInputText placeholder="Last Modified Source" name="last_modified_source"
                            [(ngModel)]="filter_user_last_modified_source" />
                        <input pInputText placeholder="Last Modified Source Type" name="last_modified_source_type"
                            [(ngModel)]="filter_user_last_modified_source_type" />
                        <input type="datetime-local" placeholder="Last Modified Date Time" name="last_modified_datetime"
                            [(ngModel)]="filter_user_last_modified_datetime" />
                    </form>
                    <div id="filter-footer">
                        <div id="btn-div" style="width: 100%;">
                            <div style="display: flex; align-items: center; justify-content: flex-start; width: 50%;">
                            <button id="reset-btn" type="button" (click)="reset_form()">Reset</button>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: flex-end; width: 50%;">
                            <button id="submit-btn" type="submit" (click)="filter_form_submit(form)">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div>
    <p-dialog header="ORG Issue Tracker" [modal]="true" [(visible)]="delete_visible" [style]="{ width: '25rem' }">
        <div id="delete_dialog">
            <div id="delete_dialog_content">
                <div id="delete-dialog_top">
                    <i id="delete" class="fa-solid fa-circle-exclamation" style="color: #74C0FC;"></i>
                    <p id="question">Are you sure that you want to delete?</p>
                </div>
                <div id="delete-dialog-bottom">
                    <div id="delete-dialog-btns">
                        <button id="delete-dialog-btn2" (click)="cancel_delete()">Cancel</button>
                        <button id="delete-dialog-btn1" (click)="delete_confirm()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>