#form-div .p-inputtext{
    width: 100%;
}
#header-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#filter{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#filter:hover{
    background-color: rgba(211, 211, 211, 0.3);
    border:1px solid rgb(45, 57, 57);
}
#filter_head{
width: 50%;
display: flex;
align-items: center;
justify-content: flex-start;
}

#cross-div{
    width: 50%;
display: flex;
align-items: center;
justify-content: flex-end;
}
#left{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: flex-start;
}
 #edit_div{
    padding: 10px;
 }
#right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
    padding: 10px;
}

button{
    height: 30px;
    background-color:rgb(45, 57, 57);
    color: white;
    border: 1px solid rgb(45, 57, 57);
    padding: 2.5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(211, 211, 211, 0.3);
    color: rgb(45, 57, 57);
}
.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#form-div form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#type-div{
    display: flex;
    flex-direction: row;
}

#type-bug{
    padding: 5px 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
#type-feature{
    padding: 5px 10px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.row_{
    display: flex;
    flex-direction: column;
    gap:3px;
}

::ng-deep .p-dropdown{
    width: 100% !important;
}
textarea{
    width: 100%;
    height: 50px;
}

::ng-deep #kabban-content .bug-form-dialog .p-dialog .p-dialog-header{
    padding: 5px 10px;
}

label,input{
    font-size: 15px;
    padding: 5px;
}

::ng-deep #kabban-content .bug-form-dialog .p-dialog .p-dialog-content{
    padding: 0px 15px 10px 15px;
}

::ng-deep #kabban-content .comment_dialog .p-dialog{
    width: 60% !important;
}
#submit{
    height: 30px;
    width: 100%;
    background-color:skyblue;
    border: none;
    color: white;
    padding: 2.5px 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

#issues-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 10px 10px 10px;
}

.issues-inner{
    width: 25%;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-color:rgb(231, 238, 240);
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.issues-header{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;  /* Required to avoid content bleed-through */
    z-index: 10;               /* Ensure it stays above other content */
    padding: 3px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#issues{
    width: 100%;
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comment-input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.label{
    font-weight: bold;
}
.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#tickets{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tickets-div{
    padding: 10px;
}

#comment-dialog-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#comment-form{
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    padding: 10px;
}

#comment-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-ticket-id{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
}

#comment-subject{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

#comment-description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

#comment-middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
}

.update-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#comment-middle-top{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#comment-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#comment-left-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-right-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#comment-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-activity{
    width: 30%;
    display: flex;
    flex-direction: column;
    border:1px solid lightgray;
    border-radius: 10px;
}

#activity-header{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 235, 241);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* position: sticky;
    z-index: 10; */
}

#comment-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-last{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

.comment-div{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.comment-header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.comment-header-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comment-header-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* .comment-footer{
    padding: 5px;
} */

::ng-deep #kabban-content .ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 100px !important;
} 

.comment-footer-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.comment-footer-div-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.comment-footer-div-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.comment-footer-div-right-inner{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input{
    border: 1px solid lightgray;
    border-radius: 5px;
}
.input-value{
    border: none;
    background-color: white !important;
}

#filter-form-container{
    width: 100%;
}

.filter-input-div{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#filter-overlay {
  width: 35%;
  height: 60%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#filter-form-inner {
width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#filter-header{
   width: 100%;
   padding: 8px; 
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid lightgray;
   background-color: rgba(211, 211, 211, 0.3);
}

#filter-heading{
    font-size: 15px;
    color:rgb(45, 57, 57);
    font-weight: bold;
}

#filter-form-container{
    width: 100%;
}

.filter-input-div{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.label{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

label{
    font-size: 15px;
    font-weight:normal;
}
input{
    object-fit: cover;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep #kabban-content #filter-form-container .p-dropdown{
    width:187px !important;
}

::ng-deep #kabban-content .p-button.p-button-icon-only{
    width: 10px !important;
    height: 15px !important;
}
::ng-deep #kabban-content #filter-form-container .p-autoComplete{
    width: 150px !important;
}
::ng-deep .bug-form-dialog .p-inputtext {
    width: 70% !important;
    padding: 5px !important;
}
::ng-deep #kabban-content #filter-form-container .p-inputtext {
    width: 180px !important;
    height: 30px;
    padding: 4px;
}

::ng-deep #kabban-content .p-dropdown .p-dropdown-trigger{
    width: 30px;
}

::ng-deep #kabban-content #filter-form-container .p-dropdown{
    width: 180px !important;
}

::ng-deep .p-inputtext{
    padding: 3px !important;
}
#form-top{
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

#form-footer{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 5px;
}

#delete_dialog{
    height: 100%;
}

#delete_dialog_content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
::ng-deep #kabban-content  #delete_dialog .p-dialog{
    width: 20% !important;
    height: 130px !important;
}
::ng-deep .bug-form-dialog .p-dialog .p-dialog-header{
    padding: 5px 5px 0px 10px !important;
}

::ng-deep .bug-form-dialog .p-dialog .p-dialog-content{
    padding:10px;
}
#delete-dialog_top{
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

#delete-dialog-bottom{
    height: 50%;
}

#delete-dialog-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0px 10px;
}

::ng-deep .bug-form-dialog .p-dialog .p-dialog-header .p-dialog-title{
    font-size: 18px;
}
#delete{
    font-size: 25px;
}
#question{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}
#delete-dialog-btn1{
    height: 30px;
    background-color:rgb(45, 57, 57);
    color: white;
    border: 1px solid rgb(45, 57, 57);
    padding: 2.5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete-dialog-btn1:hover{
    background-color: rgba(211, 211, 211, 0.3);
    color: rgb(45, 57, 57);
}

#delete-dialog-btn2{
    height: 30px;
    background-color:rgb(45, 57, 57);
    color: white;
    border: 1px solid rgb(45, 57, 57);
    padding: 2.5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete-dialog-btn2:hover{
    background-color: rgba(211, 211, 211, 0.3);
    color: rgb(45, 57, 57);
}

@media screen and (max-width:1200px){
    ::ng-deep .comment_dialog .p-dialog{
        width: 70% !important;
    }
}

@media screen and (max-width:1000px){
    #comment-middle-top{
        flex-direction: column;
        gap:10px;
    }
    input{
        width: 100%;
    }
    #comment-left, #comment-right{
        width: 100%;
    }
    #comment-form{
        width: 50%;
    }
    #comment-activity{
        width: 50%;
    }
    #form-last{
        flex-direction: column;
    }
}

@media screen and (max-width:800px){
    #comment-form{
        width: 60%;
    }

    #comment-activity{
        width: 40%;
    }
}
@media screen and (max-width:730px){
    ::ng-deep .bug-form-dialog .p-dialog{
    width: 80% !important;
}
}

@media screen and (max-width:672px){
    ::ng-deep .comment_dialog .p-dialog{
        width: 80% !important;
    }
    .comment-input,#comment-subject, #comment-description{
        width: 80%;
        gap: 8px;
        flex-direction: column;
    }
    #comment-subject, #comment-description{
        gap: 8px;
        flex-direction: column;
    }
}

@media screen and (max-width:530px){
    ::ng-deep .bug-form-dialog .p-dialog{
    width: 85% !important;
}
    .row{
        flex-direction: column;
    }
    .div{
        width: 100%;
    }

    .comment-input{
        width: 80%;
        gap: 8px;
        flex-direction: column;
    }

    #comment-ticket-id{
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    .comment-header,.comment-footer-div{
        flex-direction: column;
    }

    ::ng-deep .p-editor-container .p-editor-toolbar.ql-snow .ql-picker .ql-picker-label{
        width: 80%;
    }
    .comment-header-left,.comment-footer-div-left{
       width: 100%;
    }
    .comment-header-right,.comment-footer-div-right{
        width: 100%;
    }
}
@media screen and (max-width:372px){
    p{
        font-size: 13px;
    }
}
@media screen and (max-width:321px){

    ::ng-deep .p-editor-container .p-editor-toolbar.ql-snow .ql-picker .ql-picker-label{
        width: 80%;
    }
     span,.label,p{
        font-size: 13px;
        word-break: break-all;
    }
    ::ng-deep .p-dropdown .p-dropdown-label{
        font-size: 13px;
        word-break: break-all;
    }
}
@media screen and (max-width:295px){

    ::ng-deep .p-dialog .p-dialog-content:last-of-type{
        padding: 10px;
    }
    ::ng-deep .p-overlay {
    width: 80% !important;
}
 ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        height: 100%;
        width: 100%;
        padding: 5px;
    }
    ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item > span{
        font-size: 13px;
        word-break: break-all;
    }
    .comment-footer-div-right-inner{
        flex-direction: column;
    }
}
@media screen  and (max-width:210px){
    #type-div{
        flex-direction: column;
        font-size: 13px;
    }

    label{
        font-size: 13px;
        word-break: break-all;
    }

    ::ng-deep .bug-form-dialog .p-dialog-draggable .p-dialog-header{
        padding: 10px;
    }

    ::ng-deep .p-dialog .p-dialog-header .p-dialog-title{
        font-size: 16px;
        word-break: break-all;
    }

    ::ng-deep .p-dialog{
        height: 30% !important;
    }

    #delete-dialog-btns{
        flex-direction: column;
    }
}
