<div id="kabban-content">
    <div id="kabban-header">
        <div id="header-content">
            <div id="left">
                <h3>Issues</h3>
            </div>
            <div id="right">
                <button (click)="add_bug()" pTooltip="Add Ticket" tooltipPosition="bottom">Add</button>
                <div id="filter" (click)="toggleFilter()" pTooltip="Filter bugs" tooltipPosition="bottom"><i
                        class="fa-solid fa-filter" style="cursor: pointer;"></i></div>
            </div>
        </div>
    </div>
    <div id="issues">
        <div id="issues-container">
            <div *ngFor="let s of statuses" class="issues-inner">
                <div class="issues-header">
                    <div class="left">
                        <span [ngStyle]="{color:s.status=='Open'?'blue':
                                                s.status=='Assigned'?'orange':
                                                s.status=='In Progress'?'#c6c61a':
                                                s.status=='Completed'?'green':'black'
                        }">{{s.status}}</span>
                    </div>
                    <div class="right">
                        <span>{{s.tickets.length}}</span>
                        <button><i class="fa-solid fa-rotate-right fa-rotate-270"></i></button>
                    </div>
                </div>
                <div id="tickets-div">
                    <div id="tickets">
                        <app-ticket *ngFor="let item of s.tickets" [ticket]="item" [priority]="priorities"
                            (commentForm)="get_comment_ticket($event)"></app-ticket>
                    </div>
                </div>
            </div>
            <div id="filter-overlay" *ngIf="filter">
                <div id="filter-form-inner">
                    <div id="filter-header">
                        <div id="filter_head">
                            <span id="filter-heading">Filter</span>
                        </div>
                        <div id="cross-div">
                            <i class="fa-solid fa-xmark" (click)="close_filter()" style="cursor: pointer;"></i>
                        </div>
                    </div>
                    <div id="filter-form-container">
                        <form #issuesFilterForm="ngForm" (ngSubmit)="issues_filter_form_submited(issuesFilterForm)">
                            <div id="form-top">
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Ticket Id:</label>
                                    </div>
                                    <div class="input">
                                        <p-autoComplete name="ticketId" [(ngModel)]="filterTicketId" field="ticketId"
                                            [dropdown]="false" [suggestions]="tickets"
                                            (completeMethod)="search_tickets($event)"
                                            (onSelect)="assignee_id_change()" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Type:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="types" [(ngModel)]="filterType" optionLabel="type"
                                            name="type" appendTo="body" placeholder="Select Type" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Priority:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="priorities" [(ngModel)]="filterPriority"
                                            optionLabel="priority" name="priority" appendTo="body"
                                            placeholder="Select Priority" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Assigned Id:</label>
                                    </div>
                                    <div class="input">
                                        <p-autoComplete name="assigneeId" [(ngModel)]="filterAssigneeId" field="user_id"
                                            [dropdown]="false" [suggestions]="users" (completeMethod)="search($event)"
                                            (onSelect)="assignee_id_change()" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Assignee:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="filter_assignee" [(ngModel)]="filterAssignee"
                                            readonly />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Subject:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="subject" [(ngModel)]="filterSubject" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Category:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="categories" [(ngModel)]="fiterCategory"
                                            optionLabel="categoryDesc" placeholder="Select category" name="category"
                                            (onChange)="category_entered($event)" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Subcategory:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="dynamic_subcategory" [(ngModel)]="filterSubcategory"
                                            optionLabel="subCategoryDesc" placeholder="Select a Subcategory"
                                            name="subcategory" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Description:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="description" [(ngModel)]="filterDescription" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Opened Date:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText type="date" name="createDateTime"
                                            [(ngModel)]="filterOpenedDate" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Days Old:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText type="number" name="filter_days_old"
                                            [(ngModel)]="filterDaysOld" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Reporter Id:</label>
                                    </div>
                                    <div class="input">
                                        <p-autoComplete name="reporterId" [(ngModel)]="filterReporterId" field="user_id"
                                            [dropdown]="false" [suggestions]="users" (completeMethod)="search($event)"
                                            (onSelect)="reporter_id_change()" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Reporter Name:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="filter_reporter" [(ngModel)]="filterReporter"
                                            readonly />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Status:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="statuses" [(ngModel)]="filterStatus" optionLabel="status"
                                            name="status" appendTo="body" placeholder="Select Status" />
                                    </div>
                                </div>
                            </div>
                            <div id="form-footer">
                                <button id="apply-btn" type="button" (click)="reset_all()">Reset</button>
                                <button id="apply-btn" type="submit">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bug-form-dialog">
    <p-dialog header="Bug Record Form" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
        <div id="form-div">
            <form #bugForm="ngForm" (ngSubmit)="bug_form_submit(bugForm)">
                <div class="row">
                    <div class="div">
                        <label>Reporter Name</label>
                        <input pInputText type="text" name="reporter_name" [(ngModel)]="user_details.uname" readonly/>
                    </div>
                    <div class="div">
                        <label>Reporter Id</label>
                        <input pInputText name="reportedId" [(ngModel)]="user_details.user_id" readonly />
                    </div>
                </div>
                <div class="row_">
                    <label>Type</label>
                    <div id="type-div">
                        <div id="type-bug"
                            [ngStyle]="bug?{'background-color': 'blue','color': 'white'}:{'background-color': '#eff7fa','color': 'blue'}"
                            (click)="ticket_type_bug()">Bug</div>
                        <div id="type-feature"
                            [ngStyle]="feature?{'background-color': 'blue','color': 'white'}:{'background-color': '#eff7fa','color': 'blue'}"
                            (click)="ticket_type_feature()">Feature</div>
                    </div>
                </div>
                <div class="row_">
                    <label>Subject</label>
                    <input pInputText name="subject" type="text" [(ngModel)]="subject" required [placeholder]="text|custom_pipe"/>
                </div>
                <div class="row_">
                    <label>Priority</label>
                    <p-dropdown [options]="priorities" [(ngModel)]="selectedPriority" optionLabel="priority"
                        placeholder="Select priority" name="priority" [required]="true" />
                </div>
                <div class="row_">
                    <label>Attachments</label>
                    <input type="file" accept="image/*,video/*,audio/*" multiple (change)="onFilesSelected($event)"
                        required />
                </div>
                <div class="row">
                    <div class="div">
                        <label>Category</label>
                        <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" optionLabel="categoryDesc"
                            placeholder="Select a Category" name="category" (onChange)="category_entered($event)"
                            [required]="true" />
                    </div>
                    <div class="div">
                        <label>Subcategory</label>
                        <p-dropdown [options]="dynamic_subcategory" [(ngModel)]="selectedSubCategory"
                            optionLabel="subCategoryDesc" placeholder="Select Subcategory" name="subcategory"
                            [required]="true" />
                    </div>
                </div>
                <div class="row">
                    <div class="div">
                        <label>Browser</label>
                        <p-dropdown [options]="browsers" [(ngModel)]="selectedbrowser" optionLabel="browser_name"
                            placeholder="Select browser" name="browser" [required]="true" />
                    </div>
                    <div class="div">
                        <label>Subcategory</label>
                        <p-dropdown [options]="operatingSystems" [(ngModel)]="selectedOS" optionLabel="os_name"
                            placeholder="Select OS" name="operatingSystem" [required]="true" />
                    </div>
                </div>
                <div>
                    <label>Description</label>
                    <textarea name="description" type="text" [(ngModel)]="description" required></textarea>
                </div>
                <div>
                    <button id="submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </p-dialog>
</div>

<div class="comment_dialog">
    <p-dialog header="Ticket Details" [modal]="true" [(visible)]="visible_comment" [style]="{ width: '70rem'}">
        <div id="comment-dialog-container">
            <div id="comment-form">
                <form #commentForm="ngForm" (ngSubmit)="get_comment_submit(commentForm,comment_ticket)">
                    <div id="comment-top">
                        <div id="comment-ticket-id">
                            <span class="label1" style="width: 25.6%;">Ticket ID:</span>
                            <span class="label2">{{comment_ticket.ticketId}}</span>
                        </div>
                        <div id="comment-subject">
                            <span class="label1">Subject:</span>
                            <input class="text_area" style="cursor: pointer;"
                                *ngIf="!text_area" (click)="text_area_visible()" [(ngModel)]="comment_ticket.subject"
                                name="subject" pTooltip="Subject content" tooltipPosition="bottom"/>
                            <textarea *ngIf="text_area" class="label2" style="padding: 3px;" [(ngModel)]="comment_ticket.subject"
                                name="subject"></textarea>
                        </div>
                        <div id="comment-description">
                            <span class="label1">Description:</span>
                            <input class="text_area" style="cursor: pointer;"
                                *ngIf="!text_area2" (click)="text_area2_visible()" [(ngModel)]="comment_ticket.description"
                                name="description"  pTooltip="Description content" tooltipPosition="bottom">
                            <textarea *ngIf="text_area2" class="label2" style="padding: 3px;" [(ngModel)]="comment_ticket.description"
                                name="description"></textarea>
                        </div>
                        <div id="comment-middle">
                            <div id="comment-middle-top">
                                <div id="comment-left">
                                    <div id="comment-left-div">
                                        <div class="comment-input">
                                            <span class="label1" style="width: 35%;">Reporter Id:</span>
                                            <span class="label2" >{{comment_ticket.reportedId}}</span>
                                        </div>
                                        <div class="comment-input">
                                            <span class="label1" style="width: 35%;">Created Date Time:</span>
                                            <span class="label2" >{{comment_ticket['CreatedDateTimeString']}}</span>
                                        </div>
                                        <div class="comment-input">
                                            <span class="label1" style="width: 35%;">Last Modified Date Time:</span>
                                            <input class="label2" style="outline: none;"   type="text" name="lastModifiedDateTime"
                                                [(ngModel)]="comment_ticket['lastModifiedDateTimeString']" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div id="comment-right">
                                    <div id="comment-right-div">
                                        <div>
                                            <!-- Optional preview -->
                                            <img *ngIf="comment_ticket?.input_file"
                                                [src]="comment_ticket?.input_file?.data" alt="attachment" width="100" />

                                            <!-- Or just show file type -->
                                            {{ comment_ticket.input_file ? '' : 'No file' }}
                                        </div>

                                        <button type="button"
                                            (click)="downloadFile(comment_ticket?.input_file?.data, 'attachment')"
                                            [disabled]="!comment_ticket.input_file">
                                            Download
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div id="form-last">
                                <div class="update-input">
                                    <label class="label1">Assignee:</label>
                                    <p-autoComplete
                                [dropdown]="true"
                                [suggestions]="users_suggestions"
                                (completeMethod)="filterUsers($event)"
                                     [(ngModel)]="comment_ticket['assignee']"
                                     field="uname"
                                     name="assignee" appendTo="body" placeholder="Assignee..."
                                        [readonly]="user_details.type!='Admin'" [required]="true" />
                                </div>
                                <div class="update-input">
                                    <label class="label1">Priority:</label>
                                    <p-dropdown [options]="priorities" [(ngModel)]="comment_ticket['priority']"
                                        optionLabel="priority" name="priority" appendTo="body"
                                        placeholder="Update Priority" [readonly]="user_details.type!='Admin'"
                                        [required]="true" />
                                </div>
                                <div class="update-input">
                                    <label class="label1">Status:</label>
                                    <p-dropdown [options]="statuses" [(ngModel)]="comment_ticket['status']"
                                        optionLabel="status" name="status" appendTo="body" placeholder="Update Status"
                                        [readonly]="user_details.type!='Admin'" [required]="true" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="comment-bottom">
                        <p class="label1" style="padding-bottom: 5px;">Comment:</p>
                        <div id="p-editor-class">
                            <p-editor [(ngModel)]="comment" [style]="{ height: '100px' }" name="comment" />
                        </div>
                        <div style="display: flex;align-items: center;justify-content: flex-end; padding: 10px 0px;">
                            <button type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="comment-activity">
                <div id="activity-header">
                    <p>Activity</p>
                </div>
                <div id="comments">
                    <div id="comment-container">
                        <!-- ngFor -->
                        <div *ngFor="let com of user_specific" class="comment-div">
                            <div class="comment-header">
                                <div class="comment-header-left">
                                    <p>{{tickets_comments[com][0]['uname']}}</p>
                                </div>
                            </div>
                            <div class="comment-footer">
                                <div *ngFor="let commen of tickets_comments[com];let i = index">
                                    <div class="last_modified_div">
                                        <p class="last_modified">Last Modified Date : </p>
                                        <p class="last_modified_p">{{commen.last_modified_date?commen.last_modified_date:"no"}}</p>
                                    </div>
                                    <div  class="comment-footer-div">
                                    <div class="comment-footer-div-left">
                                        <label [innerHTML]="commen.message"
                                            style="word-break: break-all; font-size: 15px;"></label>
                                    </div>
                                    <div class="comment-footer-div-right">
                                        <div class="comment-footer-div-right-inner"
                                            *ngIf="tickets_comments[com][0].uname!=undefined">
                                            <i class="fa-solid fa-pen"
                                                (click)="edit_comment(commen,tickets_comments[com][0].userId)"></i>
                                            <i class="fa-solid fa-trash" (click)="delete_comment(commen)"></i>
                                        </div>
                                    </div>
                                    </div>
                                    <hr style=" border-style: none; border-top:  1px solid lightgray;" *ngIf="i!=(tickets_comments[com].length-1)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
<div class="edit_editor">
    <p-dialog header="Edit Comment" [modal]="true" [(visible)]="edit_comment_visible" [style]="{ width: '25rem' }" (onShow)="onEditorShow()">
        <div>
            <p-editor (onInit)="onEditorShow()" [(ngModel)]="updated_comment" [style]="{ height: '100px' }"/>
        </div>
        <div id="edit_div">
            <button (click)="update_comment()">Save</button>
        </div>
    </p-dialog>
</div>

<div class="delete_dialog1">
    <p-dialog header="ORG Issue Tracker" [modal]="true" [(visible)]="delete_visible" [style]="{ width: '25rem' }">
        <div id="delete_dialog">
            <div id="delete_dialog_content">
                <div id="delete-dialog_top">
                    <i id="delete" class="fa-solid fa-circle-exclamation" style="color: #74C0FC;"></i>
                    <p id="question">Are you sure that you want to delete?</p>
                </div>
                <div id="delete-dialog-bottom">
                    <div id="delete-dialog-btns">
                        <button id="delete-dialog-btn2" (click)="cancel_delete()">Cancel</button>
                        <button id="delete-dialog-btn1" (click)="delete_confirm()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>