<div id="list-container">
    <div id="list-inner">
        <div id="header">
            <div id="heading">
                <h2>Issues</h2>
            </div>
            <div id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div id="table-container">
            <div id="table-inner">
                    <p-table [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    {{ rowData[col.field] }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
        </div>
    </div>
</div>