<div id="list-container">
    <div id="list-inner">
        <div id="header">
            <div id="heading">
                <h2>Issues</h2>
            </div>
            <div id="search">
                <div id="search-div" [ngStyle]="searchBtn?{'border':'1px solid gray'}:{'border': 'none'}">
                    <input id="search-input" type="text" [(ngModel)]="search_text" (change)="search_input($event)" />
                    <button id="search-btn" (click)="search_clicked()" pTooltip="Search data" tooltipPosition="bottom"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <i id="filter" class="fa-solid fa-filter" (click)="toggleFilter()" pTooltip="Filter bugs" tooltipPosition="bottom"></i>
            </div>
        </div>
        <div id="table-container">
            <div id="table-inner">
                <div id="table-with-footer">
                    <p-table #dt [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }"
                        [paginator]="this.products.length<=5?false:true" [rows]="5" [pageLinks]="3" [scrollable]="true"
  scrollHeight="500px">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumnDisabled]="false"
                                    [pSortableColumn]="col.field">
                                    {{ col.header }} <p-sortIcon [field]="col.field" />
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <div id="td-div"
                                        [ngStyle]="{color:getColor(rowData[col.field]), 'background-color':getBackGroundColor(rowData[col.field]), 'width':col.field=='subject'?'':'fit-content', 'word-break':col.field=='subject'?'break-all':''}">
                                        {{ rowData[col.field] }}</div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length + 1" class="p-text-center" style=" text-align: center;
  padding: 20px;
  color: gray;
  font-size: 15px;">
                                    No data found.
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <div *ngIf="products.length>5"  class="paginator-extension">
                    <input
                        style="width: 40px; background-color: rgba(211, 211, 211, 0.3); z-index: 1; height: 30px; text-align: center;"
                        type="text" [(ngModel)]="goToPageNumber" min="1" [max]="totalPages" />
                    <button (click)="goToPage(dt)" class="go-button">Go</button>
                </div>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <div class="paginator-extension1"
                    style="display: flex;gap: 5px; flex-direction: row;">
                    <p class="go-button1">{{products.length}} items</p>
                </div>
                        </ng-template>
                        <ng-template pTemplate="paginatorlastpagelinkicon">
                            <img src="../../../../assets/images/svg_502085.svg" style="width: 17px; height: 17px; display: flex; align-items: center; justify-content: center;"/>
                        </ng-template>
                        <ng-template pTemplate="paginatorfirstpagelinkicon">
                            <img src="../../../../assets/images/svg_502087.svg" style="width: 17px; height: 17px; display: flex; align-items: center; justify-content: center;"/>
                        </ng-template>
                    </p-table>
                </div>
                <div class="paginator-extension1" *ngIf="(this.products.length<=5)">
                <p [ngClass]="{'show':(this.products.length<=5)}" class="go-button1">{{products.length}} items</p>
            </div>
            </div>
            <div id="filter-overlay" *ngIf="filter">
                <div id="filter-form-inner">
                    <div id="filter-header">
                        <div id="filter_head">
                            <span id="filter-heading">Filter</span>
                        </div>
                        <div id="cross-div">
                            <i class="fa-solid fa-xmark" (click)="close_filter()" style="cursor: pointer;"></i>
                        </div>
                    </div>
                    <div id="filter-form-container">
                        <form #issuesFilterForm="ngForm" (ngSubmit)="issues_filter_form_submited(issuesFilterForm)">
                            <div id="form-top">
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Ticket Id:</label>
                                    </div>
                                    <div class="input">
                                        <p-autoComplete name="ticketId" [(ngModel)]="filterTicketId" field="ticketId"
                                            [dropdown]="false" [suggestions]="tickets"
                                            (completeMethod)="search_tickets($event)"
                                            (onSelect)="assignee_id_change()" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Type:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="types" [(ngModel)]="filterType" optionLabel="type"
                                            name="type" appendTo="body" placeholder="Select Type" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Priority:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="priorities" [(ngModel)]="filterPriority"
                                            optionLabel="priority" name="priority" appendTo="body"
                                            placeholder="Select Priority" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Assigned Id:</label>
                                    </div>
                                    <div class="input">
                                        <p-autoComplete name="assigneeId" [(ngModel)]="filterAssigneeId" field="user_id"
                                            [dropdown]="false" [suggestions]="users" (completeMethod)="search($event)"
                                            (onSelect)="assignee_id_change()" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Assignee:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="filter_assignee" [(ngModel)]="filterAssignee"
                                            readonly />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Subject:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="subject" [(ngModel)]="filterSubject" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Category:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="categories" [(ngModel)]="fiterCategory"
                                            optionLabel="categoryDesc" placeholder="Select category" name="category"
                                            (onChange)="category_entered($event)" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Subcategory:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="dynamic_subcategory" [(ngModel)]="filterSubcategory"
                                            optionLabel="subCategoryDesc" placeholder="Select a Subcategory"
                                            name="subcategory" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Description:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="description" [(ngModel)]="filterDescription" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Opened Date:</label>
                                    </div>
                                    <div class="input">
                                        <input style="width: 180px; padding: 6px;" type="date" name="createDateTime" [(ngModel)]="filterOpenedDate" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Days Old:</label>
                                    </div>
                                    <div class="input">
                                        <input style="width: 180px; padding: 6px;"  type="number" name="filter_days_old" [(ngModel)]="filterDaysOld" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Reporter Id:</label>
                                    </div>
                                    <div class="input">
                                        <p-autoComplete name="reporterId" [(ngModel)]="filterReporterId" field="user_id"
                                            [dropdown]="false" [suggestions]="users" (completeMethod)="search($event)"
                                            (onSelect)="reporter_id_change()" />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Reporter Name:</label>
                                    </div>
                                    <div class="input">
                                        <input pInputText name="filter_reporter" [(ngModel)]="filterReporter"
                                            readonly />
                                    </div>
                                </div>
                                <div class="filter-input-div">
                                    <div class="label">
                                        <label>Status:</label>
                                    </div>
                                    <div class="input">
                                        <p-dropdown [options]="statuses" [(ngModel)]="filterStatus" optionLabel="status"
                                            name="status" appendTo="body" placeholder="Select Status" />
                                    </div>
                                </div>
                            </div>
                            <div id="form-footer">
                                <button id="apply-btn" type="button" (click)="reset_all()">Reset</button>
                                <button id="apply-btn" type="submit">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>