
#table-container{
    height: 100%;
    background-color: white;
    padding: 15px 10px 0px 15px;
    margin: 5px 0px 0px 0px;
    overflow: scroll;
}
#content{
    width: 1230px;
    height: 650px;
}