<div id="header-component">
    <!-- Header component header -->
    <div id="header-container">
        <!-- Header left -->
        <div id="logo-container">
            <div id="header-logo-div">
                <i class="fa-solid fa-bug fa-rotate-by" style="color: #ffffff; --fa-rotate-angle: 30deg;"></i>
            </div>
            <p id="logo-title">Issue Tracker</p>
        </div>
        <!-- Header right -->
        <div id="header-footer">
            <div id="header-components">
                <div id="photo">
                    <img style="width: 100%;height: 100%;border-radius: 50%;"
                        [src]="user_details.profile?user_details.profile:'../../../assets/images/profile_avatar.jpg'"
                        (click)="op.toggle($event)" />
                </div>
                <div id="last">
                    <div>
                        <h4>{{user_details?.uname}}</h4>
                        <span>{{user_details?.type}}</span>
                    </div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <i style="cursor: pointer;" class="fa-solid fa-arrow-right-from-bracket" pTooltip="logout"
                            tooltipPosition="bottom" (click)="this.logout_visible = true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Nav Bar -->
    <div id="navigation-container">
        <div id="navigation-content">
            <div class="btn-container" *ngFor="let item of items"
                [ngClass]="{'btn-container-focus':selected===item.label}" (click)="navigate_to(item.route,item.label)">
                <img class="img" [src]="'../../../assets/images/'+item.icon" />
                <button class="navigation-btn"
                    [ngClass]="{'navigation-btn-focus':selected===item.label}">{{item.label}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Header logout dialog -->
<div id="header-delete-dialog">
    <p-dialog header="ORG Issue Tracker" [modal]="true" [(visible)]="logout_visible" [style]="{ width: '25rem' }">
        <div id="delete_dialog">
            <div id="delete_dialog_content">
                <div id="delete-dialog_top">
                    <i id="delete" class="fa-solid fa-circle-exclamation" style="color: #74C0FC;"></i>
                    <p id="question">Are you sure you want to logout?</p>
                </div>
                <div id="delete-dialog-bottom">
                    <div id="delete-dialog-btns">
                        <button id="delete-dialog-btn2" (click)="this.logout_visible = false">Cancel</button>
                        <button id="delete-dialog-btn1" (click)="logout_confirm()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>

<!-- Header Profile Overlay panel -->
<div class="card flex justify-content-center">
    <p-overlayPanel #op>
        <div id="overlay_profile">
            <div>
                <img style="width: 40px;height: 40px;border-radius: 50%;"
                    [src]="user_details.profile?user_details.profile:'../../../assets/images/profile_avatar.jpg'"
                    (click)="op.toggle($event)" />
            </div>
            <div class="input-div">
                <p class="text1">User Name</p>
                <p class="text">: {{user_details.uname}}</p>
            </div>
            <div class="input-div">
                <p class="text1">First Name</p>
                <p class="text">: {{user_details.fname}}</p>
            </div>
            <div class="input-div">
                <p class="text1">Last Name</p>
                <p class="text">: {{user_details.lname}}</p>
            </div>
            <div class="input-div">
                <p class="text1">User ID</p>
                <p class="text">: {{user_details.user_id}}</p>
            </div>
        </div>
    </p-overlayPanel>
</div>
<p-toast/>