<div id="header-container">
    <div id="logo-container">
        <img id="logo" src="../../../assets/images/logo.jfif"/>
        <h1 id="logo-title">Issue Tracker</h1>
    </div>
    <div id="header-footer">
        <div id="header-components">
            <div id="theme">
               <i class="fa-regular fa-moon"></i>
            </div>
             <div id="theme">
               <i class="fa-regular fa-bell" pBadge value="2"></i>
            </div>
            <div id="photo">
                <img style="width: 100%;height: 100%;border-radius: 50%;" src="../../../assets/images/person.jfif"/>
            </div>
            <div id="last">
                <div>
                <h4>Rachel Green</h4>
                <span>Admin</span>
                </div>
                <div>
                   <i class="fa-solid fa-gear"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="navigation-container">
    <div id="btn-container" *ngFor="let item of items">
        <i [ngClass]="item.icon"></i>
        <!-- <button id="navigation-btn" (click)="navigate_to(item.route)">{{item.label}}</button> -->
        <button id="navigation-btn" (click)="navigate_to(item.route)" >{{item.label}}</button>
    </div>
</div>