<div id="header-component">
    <div id="header-container">
        <div id="logo-container">
            <!-- <img id="logo" src="../../../assets/images/logo.jfif"/> -->
            <div
                style="width: 30px; height: 30px;background-color: skyblue;border-radius: 10px;display: flex;align-items: center;justify-content: center;">
                <i class="fa-solid fa-bug fa-rotate-by" style="color: #ffffff; --fa-rotate-angle: 30deg;"></i>
            </div>
            <p id="logo-title">Issue Tracker</p>
        </div>
        <div id="header-footer">
            <div id="header-components">
                <!-- <div id="theme">
               <i class="fa-regular fa-moon"></i>
            </div>
             <div id="theme">
               <i class="fa-regular fa-bell" pBadge value="2"></i>
            </div> -->
                <div id="photo">
                    <img style="width: 100%;height: 100%;border-radius: 50%;" [src]="user_details.profile" />
                </div>
                <div id="last">
                    <div>
                        <h4>{{user_details?.uname}}</h4>
                        <span>{{user_details?.type}}</span>
                    </div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <i style="cursor: pointer;" class="fa-solid fa-arrow-right-from-bracket" title="logout"
                            (click)="logout()"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navigation-container">
        <div id="navigation-content">
            <div class="btn-container" *ngFor="let item of items"
                [ngClass]="{'btn-container-focus':selected===item.label}" (click)="navigate_to(item.route,item.label)">
                <img class="img" (click)="navigate_to(item.route,item.label)"
                    [src]="'../../../assets/images/'+item.icon" />
                <button class="navigation-btn" [ngClass]="{'navigation-btn-focus':selected===item.label}"
                    (click)="navigate_to(item.route,item.label)">{{item.label}}</button>
            </div>
        </div>
    </div>
</div>