<div id="browser-component">
    <div id="browser-content-inner">
        <!-- Browser Header -->
        <div id="browser-header" [ngStyle]="other_header">
            <div id="browser-header-left">
                <h4 id="browser-heading" [ngStyle]="font">Browsers</h4>
            </div>
            <div id="browser-header-right">
                <div id="browser-header-right-inner">
                    <div id="refresh-div" [ngStyle]="font?{'width':'20px','height':'20px'}:{'width':'27px','height':'27px'}" (click)="ngOnInit()" pTooltip="Refresh" tooltipPosition="bottom">
                        <i [ngStyle]="font" class="fa-solid fa-rotate-right fa-rotate-270"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Browser Graph -->
        <div id="browser-container">
            <div id="browser-container-inner">
                <google-chart *ngIf="pieChart?.dataTable?.length" [data]="pieChart" #gc></google-chart>
            </div>
        </div>

    </div>
</div>