<div class="ticket-container">
    <div class="ticket-inner">
        <div class="top">
            <div class="first">
                <div class="ticket-type">{{ticket.type}}</div>
                <div class="priority">{{priority_name}}</div>
            </div>
            <div class="second">
                <label class="label">Ticket Id: <a class="ticket-id">{{ticket.ticketId}}</a></label>
                <p class="subject">Subject:{{ticket.subject}}</p>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="profile">{{ticket.reporter_name.at(0)}}</div>
            </div>
            <div class="right">
                <i id="comment" class="fa-regular fa-comments" (click)="open_comment_form(ticket)"></i>
            </div>
        </div>
    </div>
</div>