<div id="operatingSystem-component">
    <div id="operatingSystem-content-inner">
        <!-- Operating system header -->
        <div id="operatingSystem-header" [ngStyle]="other_header">
            <div id="operatingSystem-header-left" [ngStyle]="font?{'width':'100%'}:{'width':'50%'}">
                <h4 id="operatingSystem-heading" [ngStyle]="font">Operating Systems</h4>
            </div>
            <div id="operatingSystem-header-right">
                <div id="operatingSystem-header-right-inner">
                    <div id="refresh-div" [ngStyle]="font?{'width':'20px','height':'20px'}:{'width':'27px','height':'27px'}" (click)="ngOnInit()" pTooltip="Refresh" tooltipPosition="bottom">
                        <i [ngStyle]="font" class="fa-solid fa-rotate-right fa-rotate-270"></i>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Operating System Graph -->
        <div id="operatingSystem-container">
            <div id="status-container-inner">
                <google-chart *ngIf="pieChart?.dataTable?.length" [data]="pieChart" #gc></google-chart>
            </div>
        </div>
    </div>
</div>